<header>
    <div>
        <img src="{{ logo }}" alt="Логотип">
        <h1>{{ shopName }}</h1>
    </div>
    
    <div>
        {% if not app.user %}
            <a href="{{ loginLink }}">Вход</a>
            <a href="{{ registerLink }}">Регистрация</a>
        {% else %}
            <a href="{{ accountLink }}">Личный кабинет</a>
            <a href="{{ cartLink }}">Корзина</a>
        {% endif %}
    </div>
    
    <div>
        <ul>
            {% for category in categories %}
                <li>{{ category }}</li>
            {% endfor %}
        </ul>
    </div>
</header>
