{% extends 'base.html.twig' %}

{% block body %}
{% if app.user %} 
    {% if cart is not empty %}
        {% for product in cart.product %}
            {{ product.name }}
            {{ product.count }}
        {% endfor %}

        Цена корзины: {{ cart.price }}
        Всего товаров: {{ cart.getCountOfProducts() }}
        <a href="{{ path('app_make_order') }}" ">Создать заказ</a>
        {% endif %}
    {% else %}
        <p>Вы не авторизованы, корзина недоступна</p>
    {% endif %}
    
{% endblock %}