{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1 class="text-center">Register</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.firstname, { 'attr': {'class': 'form-control mb-3'} }) }}
                    {{ form_row(registrationForm.lastname, { 'attr': {'class': 'form-control mb-3'} }) }}
                    {{ form_row(registrationForm.patronymic, { 'attr': {'class': 'form-control mb-3'} }) }}
                    {{ form_row(registrationForm.phone, { 'attr': {'class': 'form-control mb-3'} }) }}
                    {{ form_row(registrationForm.birthday, { 'attr': {'class': 'form-control mb-3'} }) }}
                    {{ form_row(registrationForm.sex, { 'attr': {'class': 'form-control mb-3'} }) }}

                    {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control mb-3'} }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password','attr': {'class': 'form-control mb-3'} 
                    }) }}
                    {{ form_row(registrationForm.agreeTerms, {
                        'attr': {
                            'class': 'form-check-input mb-3',
                            'style': 'margin-left: 10px;'
                        }
                    }) }}

                    <button type="submit" class="btn btn-primary mb-3">Регистрация</button>
                    <a class="btn btn-primary mb-3" href="{{ path('app_login') }}"  style="background-color: white; color: blue;">
                        Вход
                    </a>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}