{% extends 'base.html.twig' %}

{% block title %}Заказы
{% endblock %}

{% block body %}
	<div class='container'>
		<h1 class='h1'>Заказы</h1>

		<div class="row">
			{% if orderds is not empty %}
				{% for orderd in orderds %}
					<div class="col-sm-12 mb-3">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title d-flex justify-content-between">
                                    Заказ {{ orderd.number }}
                                    <div class='status {{orderd.status}}'>
                                        {{ statuses[orderd.status].name }}
                                    </div>
                                </h5>

                                <div class='d-flex justify-content-between mb-3'>
                                    <div class='order-info__item text-muted'>
                                        <span>Сумма заказа</span>
                                        <div>{{ orderd.totalSumm }}</div>
                                    </div>

                                    <div class='order-info__item text-muted'>
                                        <span>Дата создания</span>
                                        <div>{{ orderd.createdAt.format('d.m.Y H:i') }}</div>
                                    </div>

                                    <div class='order-info__item text-muted'>
                                        <span>Адрес доставки</span>
                                        <div>
                                        {% if orderd.delivery.address %}
                                            {{orderd.delivery.address.text}}
                                        {% else %}
                                            не указан
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>

								<div class="card">
                                <div class="card-header d-flex justify-content-between">
									Состав заказа
                                    <div type="button" data-bs-toggle="collapse" data-bs-target="#order{{ orderd.number }}" aria-expanded="false" aria-controls="order{{ orderd.number }}">
                                        <img src="/img/chevron_down.svg" alt="logo">
                                    </div>
								</div>
								<ul class="list-group list-group-flush collapse" id="order{{ orderd.number }}">
									{% for item in orderd.items %}
										<li class="list-group-item">
                                        <div class='d-flex mb-1 gap-10'>
											<b>{{ item.offer.name }}</b>
											<div>
                                                Цена {{ item.initialPrice }}
											</div>
											<div>
                                                Кол-во {{ item.quantity }}
											</div>
                                        </div>
											Свойства:
											<div class='d-flex gap-10'>
												{% for property in item.offer.properties %}
													<div>{{ property }}</div>
												{% endfor %}
											</div>
										</li>
									{% endfor %}
								</ul>
							    </div>
							</div>
						</div>
					</div>
				{% endfor %}

                {% if totalPageCount != 0 %}
                    <div class="mt-4 mb-4">
                        <ul class="pagination justify-content-center">
                            {% for num in 1..totalPageCount %}
                                <li class="page-item {% if num == currentPage %}active{% endif %}">
                                    <a class="page-link" href="{{ path('app_orders', {page: num}) }}">{{ num }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


			{% else %}
				<div class="alert alert-info" role="alert">
					Вы еще не сделали ни одного заказа
				</div>
			{% endif %}
		</div>
	{% endblock %}
