{% extends 'base.html.twig' %}

{% block title %}Профиль{% endblock %}

{% block body %}
<div class="container">  
<div class="justify-content-center">  
    <h1 class="text-center">Профиль</h1>
    {% if not app.user %}
        <div class="alert alert-danger" role="alert">
            Вы не авторизованы!
        </div>
    {% else %}
    <table class="table">
        <tbody>
            <tr>
                <th>Фамилия</th>
                <td>{{ app.user.firstname }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ app.user.lastname }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ app.user.patronymic }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ app.user.phone }}</td>
            </tr>
            <tr>
                <th>День рождения</th>
                <td>{{ app.user.birthday.format('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Адрес доставки</th>
                {% if app.user.address %}
                    <td>{{ app.user.address }}</td>
                {% else %}
                    <td>не указан</td>
                {% endif %}
            </tr>
            <tr>
                <th>Пол</th>
                <td>{{ app.user.sex }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_client_edit') }}">изменить</a>
    </div>
    </div>
{% endblock %}
