{% extends 'base.html.twig' %}

{% block title %}
    {% if title is defined %}
        {{ title }}
    {% else %} 
        Каталог
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mb-3 mt-4">
    
    

    <nav class="nav"> 
        {% if categories is not empty %}
            {% for category in categories %}
                <div>
                <a class="nav-link" href="/catalog/{{ category.id }}">
                    {{ category.name }}
                </a></div>
            {% endfor %}
        {% endif %}
    </nav>



    {% if products is not empty %}
        
        <div class="row g-4">
            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <img src="{{ product.imageUrl}}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <b>{{ product.name }}</b>
                                <a href="/product/{{ product.id }}">Подробнее</a>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    {% else %}
        <p>ничего нет</p>
    {% endif %}

    
    
    </div>
{% endblock %}