{% extends 'base.html.twig' %}

{% block title %}
    {% if title is defined %}
        {{ title }}
    {% else %} 
        Каталог
    {% endif %}
{% endblock %}

{% block body %}
    <nav>    
        {% if categories is not empty %}
            {% for category in categories %}
                <div>
                <a href="/catalog/{{ category.id }}">
                    {{ category.name }}
                </a></div>
            {% endfor %}
        {% endif %}
    </nav>

    {% if products is not empty %}
        <ul>
            {% for product in products %}
                <li>{{ product.name }}</li>
                <a href="/product/{{ product.id }}">добавить в корзиину</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>ничего нет</p>
    {% endif %}

{% endblock %}