{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product Details</h1>
    {% if product is not empty %}
        <div>
            <img src="{{ product.imageUrl }}" alt="Product Image">
        </div>

        <h2>{{ product.name }}</h2>
        <p>Цена: {{ product.minPrice }}</p>
        <p>Производитель: {{ product.manufacturer }}</p>

        <h3>Связные предложения:</h3>
        <ul>
            {% for offer in product.offers %}
                <li>ID: {{ offer.id }}</li>
                <li>Цена: {{ offer.price }}</li>
                <li>Название: {{ offer.name }}</li>

                <li>Свойства: <ul>
                {% for property in offer.properties %}
                    {{ property }}, 
                {% endfor %}
                </ul></li>
                <li><a href="/product/{{ offer.id }}">Добавить</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>такого товара не существует, вы попали сюда по ошибке</p>
    {% endif %}

{% endblock %}